:root {
    --color-primary:#D9C8B4;
    --color-secondary:#A6633C;
    --color-dark:#401A0C;
    --color-tertiary:#A65A3F;
    --color-light:#F2F2F2;
    --color-text:#16161D;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

section {
    display:flex;
    align-items: stretch;
}

.container {
    width:1200px;
    margin-inline:auto;
    padding-inline:20px;
    padding-block: 5rem;;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    min-height: 100%;
}

.container2 {
    width:700px;
    display:flex;
    flex-direction: column;
    gap:20px;
}

.box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    gap:30px;
}

.card_image {
    aspect-ratio: 1/1;
    width:200px;
    object-fit:cover;
}

.card_content {
    display: flex;
    flex-direction: column;;
    gap:10px;
}

.bg-light {
    background-color: var(--color-light);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
}

h1 {
    font-size:5rem;
}

h2 {
    font-size:3rem;
}

h3 {
    font-size:2rem;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.button {
    text-decoration: none;
    color:white;
    padding:15px 25px;
    border-radius: 10px;
    background-color:var(--color-secondary);
    font-family: Roboto, sans-serif;
    font-weight: 900;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: var(--color-dark);
}

.text-center {
    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
    }
}

#hero {
    background-color: var(--color-primary);
    min-height:70vh;
}

footer {
    background-color: var(--color-primary);
}

